
.carousel-item img{
    height: 350px;
    width: 1000px;
    object-fit: cover;
    border-radius: 10px;
}

@media  (max-width:600px){

    .carousel-item img{
        height: 150px;
        width: 40px;
       
        
    }
    
     
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}


.nav-item .nav-link h6{
    color:rgb(223, 88, 88);
    margin-top: 10px;
    margin-left: 150px;
    
   

}




