




.carousel-item img{
    height: 400px;
    width: 1000px;
    object-fit: cover;
    border-radius: 10px;
}

@media  (max-width:600px){

    .carousel-item img{
        height: 150px;
        width: 40px;
       
        
    }
    
     
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
.cart {
    vertical-align: bottom;
    font-size: 17px;
    /* padding-right: 50px;  */
    padding-right: 5px;
    list-style: none;

   
}

.cart a{
    
   
    cursor: pointer;
    text-decoration: none;
    padding-right: 50px;
   
    
}

.nav-item .nav-link h6{
    color:rgb(223, 88, 88);
    margin-top: 10px;
    margin-left: 10px;
    
   

}


.product-header{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin:0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}


.total{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    
}

.products img{
    width: 75px;
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 10%;
} 



