

.cart {
    vertical-align: bottom;
    font-size: 17px;
    padding-right: 5px;
    list-style: none;

   
}

.cart a {
    
   
    cursor: pointer;
    text-decoration: none;
    padding-right: 50px;
   
    
}


.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  
}


.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    display: flex;

}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
bottom: 20px;
opacity: 1;
padding: 10px;
text-decoration: none;

}



/* cart page */

.parent{
    display: flex;
 justify-content: center;
 flex-wrap: wrap-reverse;
 

 
}
.child{
    margin-right: 100px;
    margin-top: 30px;

}
.child1{
    
    margin-top: 1s 0px;
 
}


.products-container{
    max-width: 650px;
    justify-content: space-around; 
    margin: 0 auto;
    margin-top: 40px;


}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin:0 auto;


   
}


.product-title{
    width: 100%;
text-align: center;
  
}



.price{
    width: 100%;
    /* border-bottom: 2px solid lightgray; */
    display: flex;
    align-items: center;
}

.quantity{
    /* width: 100%; */
    border-bottom: 2px solid lightgray;
    display: flex;
    align-items: center;
 
}


.total{
    width: 10%;
     display: flex;
    align-items: center;
}


.products img{
    width: 60px;
}
.basketTotalContainer{
    display: flex;
    padding: 10px 0;
    border-top: 1px solid lightgray;
}
.basketTotalTitle{
    width: 30%;
    
}
.basketTotal{
    width: 10%;
}
.products-container .product-header{
    margin-top: 5px;
}

#signup{
    background-color: lavender;
border-style: outset;
border-color: darkgrey;


}
#loader{
text-align: center;
}

/* buy button */
.buyButton{
  
    text-align: center;

}


.cartTitle{
    color: green;
}
