.welDiv {
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 30px;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.0s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

@keyframes myanimation{
    from {
       
       position: relative;
      
   }
   to{
       padding-top: 300px;
      
   }
}

.welcomeButton{
 margin-top: 20px;
 background-color: teal;
 color: white;
 height: 40px;

}

